<div class="header">
    <div class="back-btn">
        <a href="/..">Home</a>
    </div>
    <div class="rm-title">
    <h1> Room {{roomName}}</h1>
    </div>
    <div class="invis">
        <a href="/..">Home</a>
    </div>
</div>

<div class="room-container">
    
        <div class="input-div">
        <form action="/set-nickname" method="POST">
            <input type="hidden" name="roomName" value="{{roomName}}">
            <input type="text" name="nickname" placeholder="Enter your nickname" required>
            <button type="submit">Set Nickname</button>
        </form>
        </div>

        <div class="input-div">
        <form action="/sendMessage" method="POST">
            <input type="hidden" name="roomId" value="{{roomName}}">
            <textarea name="text" placeholder="Enter your message" required></textarea>
            <button type="submit">Send</button>
        </form>
        </div>

    {{#each messages}}
        <div class="message-cont">
            {{#each this}}
                <strong>{{nickname}} </strong> {{text}} <em>{{timestamp}}</em>
            {{/each}}
        </div>
    {{/each}}
</div>
